<section class="bg-grey" scrolldown>
  <div class="row-flex display-block-mobile">
    <div class="col-flex">
      <div class="banner2">
        <div>
          <img src="img/slides/slide3.jpg" class="img-responsive doneLoading">
          <div class="dark-overlay"></div>
          <div class="head-font">
            <h1>About Us</h1>
            <div class="bounce" ng-click="scrollDown();">
              <span class="circle">
                <!-- <i class="fa fa-chevron-down" aria-hidden="true"></i> -->
                <img src="img/down-arrow.png" alt="scroll down" title="scroll down">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-flex bg-grey">
      <div class="overview-box">
        <p class="font-weight400"><span class="color-blue">  Innergize Solutions Private Limited </span> is a strategy and management consultancy firm that provides a broad spectrum of services including execution support to diverse clientele that ranges from Indian corporations,
          multinationals, mid-sized and emerging businesses and even high net worth individuals.</p>
        <p class="font-weight400">
          <span class="color-blue">Our approach</span> is to deliver and sustain tangible competitive advantages for our clients through value-added consulting backed up with tangible support. Our advisory services adapt to the climate of the client's
          industry to provide significant and measurable improvements in the output, efficiency and performance.</p>
        <p class="font-weight400">
          The pillars of <span class="color-blue">our service philosophy</span> are substantial industry experience, knowledge of leading practices and a firm grip on business and governance processes. We have the ability to mobilize the right people,
          skill sets and expertise across functional areas to deliver results for our clients.</p>
        <p class="font-weight400">
          Innergize is guided by the extraordinary vision of our CEO, <span class="color-blue">Nilesh Ganjwala,</span> a veteran financial consultant with over 30 years of experience, which is evident in his insights on strategy, finance, taxation and
          corporate best practices.
        </p>
        <p class="font-weight400">
          Nilesh has had several successful stints in the consulting arena as well as industry, accumulating significant experience in growth strategy, mergers and acquisitions, and joint ventures for major players across different sectors. Combined with expertise
          in consulting, investment banking, capital and financial structuring, valuations, due diligence, negotiations, legal implications, intellectual property and regulatory matters, Nilesh has been instrumental in developing Innergize into a practice
          that provides holistic and unparalleled solutions.</p>







        <!-- <p class="font-weight400"><span class="color-blue">Innergize Solutions Private Limited </span> is a strategy and management consultancy firm that provides a broad spectrum of services across diverse clientele that ranges from private corporations to financial institutions
          and even high-net-worth individuals.</p>
        <p class="font-weight400"><span class="color-blue">Our approach</span> is to deliver and sustain tangible competitive advantages for our clients through value-added consulting. Our advisory services adapt to the climate of the client's industry to provide significant and
          measurable improvements in the output, efficiency and performance.</p>
        <p class="font-weight400">The pillars of <span class="color-blue">our service philosophy</span> are substantial industry experience, knowledge of leading practices and a firm grip on business and governance processes. We have the ability to mobilize the right people, skill
          sets and expertise across functional areas to deliver results for our clients.</p>
        <p class="font-weight400">Innergize is guided by the extraordinary vision of our CEO, <span class="color-blue">Nilesh Ganjwala,</span> a veteran financial consultant with over 30 years of experience, which is evident in his insights on strategy, finance, taxation and corporate
          best practices.</p>
        <p class="font-weight400">Nilesh has had several successful stints in the consulting arena as well as industry, accumulating significant experience in growth strategy, mergers and acquisitions, and joint ventures for major players across different sectors. Combined with
          expertise in consulting, investment banking, capital structuring, valuations, due diligence, negotiations, legal implications, intellectual property and regulatory matters, Nilesh has been instrumental in developing Innergize into a practice
          that provides holistic and unparalleled solutions.</p> -->
      </div>
    </div>
  </div>
</section>
<section class="second">
  <div class="" scrolldown1>
    <div class="row-flex display-block-mobile">
      <div class="col-flex visible-xs">
        <div class="banner2">
          <div>
            <img src="img/about/about2.jpg" class="img-responsive doneLoading">
            <div class="head-font">
              <h1>GENESIS OF OUR NAME
            </h1>
              <div class="bounce" ng-click="scrollDown1();">
                <span class="circle">
              <!-- <i class="fa fa-chevron-down" aria-hidden="true"></i> -->
              <img src="img/down-arrow.png" alt="scroll down" title="scroll down">
            </span>
              </div>
            </div>
          </div>
          <!-- <div class="hidden-lg hidden-md"><img src="img/about/about2.jpg" class="img-responsive doneLoading"></div> -->
        </div>
      </div>
      <div class="col-flex bg-grey">
        <div class="overview-box height-auto">
          <p class="font-weight400">Innergize is the amalgamation of ‘Inner Strength’ and ‘Energy’. Its roots lie in the Bhagavad Gita, which says:</p>
          <p class="font-weight400 color-blue">"Krishna controls the Finite and the Infinite with inconceivable supernatural transcendental force. This is the power of <span class="bold">inner energy</span>."</p>
          <p class="font-weight400">It is this inner strength and energy that we wish to harness and deliver to people – both inside our organization and outside – and this is our medium to achieve universal prosperity to all those who touch the fountain of Innergize.</p>
        </div>
      </div>
      <div class="col-flex hidden-xs">
        <div class="banner2">
          <div>
            <img src="img/about/about2.jpg" class="img-responsive doneLoading">
            <div class="head-font">
              <h1>GENESIS OF <br> OUR NAME
            </h1>
              <div class="bounce" ng-click="scrollDown1();">
                <span class="circle">
                <!-- <i class="fa fa-chevron-down" aria-hidden="true"></i> -->
                <img src="img/down-arrow.png" alt="scroll down" title="scroll down">
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bck-color second1">
      <div class="container pt80 pb50">
        <div class="philosophy-box">
          <h1 class="font-didot text-center color-white uppercase">Philosophy</h1>
          <div class="philosophy-cont text-justify">
            <p class="font-weight400">Our Values are governed by a trinity of <span class="title-about bold">I</span>'s: <span class="title-about bold">INTEGRITY</span>, <span class="title-about bold">INSIGHT</span> and <span class="title-about bold">INNOVATION.</span></p>
            <h5 class="bold">INTEGRITY</h5>
            <p class="font-weight400">We constantly strive to uphold the highest professional standards and ethics in any service that we provide or any relationship that we enter into.</p>
            <h5 class="bold">INSIGHT</h5>
            <p class="font-weight400">We possess the acumen to decode complex business challenges and deliver insights that aim to maximize value for the client.</p>
            <h5 class="bold">INNOVATION</h5>
            <p class="font-weight400">We think outside the box to not only optimize the client’s current operations but also unlock potential for further growth and expansion.</p>
            <p class="font-weight400"><span class="title-about bold">Our Mission</span> is to aid clients in making quantifiable leaps in performance, efficiency and innovation, thereby creating sustainable competitive advantage.</p>
            <p class="font-weight400"><span class="title-about bold">Our Culture</span> of transparency, meritocracy and intellectual independence is at the core of our performance as an organization. We harness this culture to achieve extraordinary results for our clients.</p>
            <p class="bold">Our Principles</p>
            <ul class="list-unstyled dot-blue dot-grey">
              <li>The client always comes first</li>
              <li>Be intuitive to the client’s needs and its business climate</li>
              <li>Maintain the highest ethical benchmarks in everything we do</li>
              <li>Conduct every relationship with absolute professionalism as the benchmark</li>
              <li>Confidentiality is the cornerstone of our service</li>
              <li>Our people are our real assets</li>
              <li>We constantly pursue Imagination, Ingenuity and Excellence</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
