<section>
  <div class="banner affilliates-banners" auto-height>
    <div class="head-font">
      <h1>Affiliates</h1>
    </div>
  </div>
  <div class="container pt50 pb50">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="cont-affilliates">
          <p>
            There are several building blocks necessary for a winning business enterprise. To ensure that all elements of the enterprise are seamlessly focused on the objectives, it is imperative that various functional skills and expertise are available. Towards
            this purpose, we have associated with leading, experienced professional firms with specific domain expertise to achieve efficient and successful execution of the client’s business strategy.</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="clients list-unstyled dot-blue">
                <li>Legal</li>
                <li>Intellectual Property</li>
                <li>Business Analytics</li>
                <li>Web and Mobile Applications Technology</li>
                <li>Risk Analysis </li>
                <li>Foreign Exchange </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
