<section>
    <div class="banner services-banners" auto-height>
        <div class="dark-overlay"></div>
        <div class="head-font">
            <h1>Downloads</h1>
        </div>
    </div>
    <div class="pt50 pb50">
        <div class="pd-side download pb50">
            <uib-tabset active="active">
                <uib-tab ng-repeat="data in Categories" ng-click="OnclickId(data.id)">
                    <uib-tab-heading>
                        <div class="bg-grey pd20 bold">{{data.name}}</div>
                    </uib-tab-heading>
                    <div class="bg-grey pd20 pl60">
                        <ul class="list-unstyled list-inline ul-download dot-blue dot-grey">
                            <li ng-repeat="catid in CategoriesWithId" ng-click="open(catid);">{{catid.name}}</li>
                            <!-- <li ng-click="open('lg')">Foreign Business Setup in India</li>
              <li ng-click="open('lg')">Innergize Healthcare Infra Consulting</li>
              <li ng-click="open('lg')">Compliance Practice</li> -->
                        </ul>
                    </div>
                </uib-tab>
                <!-- <uib-tab>
          <uib-tab-heading>
            <div class="bg-grey pd20 bold">{{data.name}}</div>
          </uib-tab-heading>
          <div class="bg-grey pd20 pl60">
            <h5 class="bold">Niti - Newsletters on Developments in Corporate Laws</h5>
            <ul class="list-unstyled list-inline ul-download dot-blue dot-grey">
              <li ng-click="open('lg')">October 2015</li>
              <li ng-click="open('lg')">November 2015</li>
              <li ng-click="open('lg')">December 2015</li>
              <li ng-click="open('lg')">January 2016</li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>
            <div class="bg-grey pd20 bold">{{data.name}}</div>
          </uib-tab-heading>
          <div class="bg-grey pd20 pl60">
            <h5 class="bold">Niti - Newsletters on Developments in Tax Laws</h5>
            <ul class="list-unstyled list-inline ul-download list-inline dot-blue dot-grey">
              <li ng-click="open('lg')">December 2015 &amp; January 2016</li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>
            <div class="bg-grey pd20 bold">{{data.name}}</div>
          </uib-tab-heading>
          <div class="bg-grey pd20 pl60">
            <h5 class="bold">Niti - Highlights of Budget</h5>
            <ul class="list-unstyled list-inline ul-download list-inline dot-blue dot-grey">
              <li ng-click="open('lg')">Budget 2016 </li>
            </ul>
          </div>
        </uib-tab> -->
            </uib-tabset>
        </div>
    </div>
</section>
